aws_access_key  = "XXXXXXXXXXXXXXXXXX"
aws_secret_key  = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
spoke_domain    = "spoke.example.com"
rds_password    = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX5YN7"
